@media (max-width: 1440px) {
    .lower-nav-home {
        display: none;
    }

    .watch-img {
        height: 245px;
    }
}

@media (max-width: 1150px) {
    .lower-nav-gift {
        display: none;
    }

    .heading-secondary {
        font-size: 16px;
    }

    .img-box img {
        height: auto;
        width: 100px;
    }

    #box-4 .box1-img-1 img {
        height: 100px;
    }

    .watch-img {
        height: 180px;
    }

    .box {
        height: 350px;
    }

    .hero-container-1 {
        height: 620px;
    }

    .hero-container-2 {
        height: 370px;
    }

    #todays-deals {
        margin: 0px 2rem;
    }
}

@media (max-width: 1050px) {
    .lower-nav-electronic {
        display: none;
    }

    .padding-horizontal {
        padding: 0px 5px;
    }

    #box-4,
    #hero-box-4 {
        display: none;
    }

    .box {
        width: 30%;
        height: 310px;
    }

    .container1-box-1 {
        padding-bottom: 1rem;
    }

    .container1-box-2 img {
        padding: .5rem 0;
    }

    .hero-container-1 {
        height: 580px;
    }

    .hero-container-2 {
        height: 330px;
    }

    #todays-deals {
        margin: 0 1.9rem;
    }

    #hero-box-3 .box2-img-1 {
        align-items: flex-end;
    }

    #hero-box-3 .box2-img-2 {
        align-items: center;
    }

    .footer-top-container {
        width: 100%;
        padding: 3rem 1rem;
        margin: auto;
        justify-content: space-between;
    }

    #upperNav, #lowerNav, .hero-container-1 {
        width: 1050px;
    }

    .hero-container-2 {
        width: 1035px;
    }

    #todays-deals {
        width: 990px;
    }

    footer {
        width: 1050px;
    }

    .nav-logo {
        width: auto;
    }
}

@media (max-width: 950px) {
    .lower-nav-service {
        display: none;
    }

    .cart-container .nav-line-2 {
        display: none !important;
    }

    .nav-left-fill-right {
        width: 360px;
    }


    body {
        /* width: fit-content; */
    }
}

@media (max-width: 820px) {
    .lower-nav-releases {
        display: none;
    }

    .lower-right-nav {
        width: 450px;
    }

    .lower-left-nav {
        justify-content: flex-start;
    }

    footer table {
        padding: 2rem 0;
    }

    .footer-heading {
        font-size: 14px;
    }

    .footer-line-2 {
        font-size: 12px;
    }

    .logo img {
        width: 100px;
    }

    .nav-flag {
        /* display: none; */
    }

    #upperNav {
        gap: 5px;
        /* overflow: hidden; */
    }
    
    .nav-search {
        width: 360px;
    }
}